* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #ffe375;
  text-decoration: underline;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.h-6 {
  height: 1.5rem;
}
.w-6 {
  width: 1.5rem;
}
